# Enforce consistent line endings
* text=auto

# Track large images with Git LFS (large-file-storage):
deploy/@tdb.slc/public/**/*.{pdf,png,jpg,jpeg,svg,gif,mp4,webm} filter=lfs diff=lfs merge=lfs -text
