.DS_Store

.bin
.tmp
.env
.env.*
.swc

dist
dist.*
node_modules

vite.config.ts.timestamp-*
**/.vitepress/cache/
**/.vitepress/dist/

# Deployment config from https://docs.orbiter.host/cli
orbiter.json
