import { type t } from '../common.ts';

export const __NAME__Migrate = {
  async run(_cwd: t.StringDir): Promise<t.YamlConfig.Migrate.DirResult> {
    return { migrated: [], skipped: [] };
  },
} as const;
