import { type t, Schema } from '../common.ts';

export const TmplYamlSchema = {
  initial(docName = 'default'): t.TmplTool.ConfigYaml.Doc {
    return { name: docName };
  },

  validate(value: unknown) {
    const ok = Schema.Value.Check(TmplYamlSchema.schema, value);
    const errors = ok ? [] : [...Schema.Value.Errors(TmplYamlSchema.schema, value)];
    return { ok, errors } as const;
  },

  schema: Schema.Type.Object(
    { name: Schema.Type.String() },
    { additionalProperties: false },
  ),
} as const;
